body {
   
    background-color: #F2F2F2;
    font-family: 'Poppins';  
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90vw;
    min-height: calc(100vh - 2rem);
    margin: 0;
    padding: 1rem;

  }
h1 {
    font-weight: 700;
    font-size: 44px;
}
h2 {
    font-weight: 400;
    font-size: 36px;
}
p{
    font-size: 16px;
}
.header {
    display: flex;
    margin: 0 auto;
    padding: 40px 20px;
  
}
a:link {
    text-decoration: none;
}
.logo {
    align-self:flex-start;
}
.logo img {
    width: 130px;
    height: 75px;
}
.navitem {
    color: #2F281E;;
}
.nav-center {
    margin-left: 60px;

}
.nav-right {
    margin-left: auto;
}

ul {
    list-style-type: none;
 }
 
 .watch {
    color: black;
    text-decoration:underline;
 }

.button {
    display: inline-block;
    background-color: #FF9900;
    color: #ffffff;
    border-radius: 6px;
    line-height: 48px;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
   
  }

.signIn {
    display: inline-block;
    color: black;
    border-radius: 6px;
    border: 1px solid #BCD0E5;
    line-height: 48px;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px; 
}
.fa {
    background-color: none;
  }

.navitem {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 0 20px;
}

.upcase {
    text-transform: uppercase;
    align-self: center;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    padding: 20px;
    box-sizing: content-box;
    margin: 20px;
}
.container-tools{
    margin-top: 50px;
    margin-bottom: 40px;
}
.flex-list-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 -30px 30px -30px;
    list-style-type: none;
    box-sizing: border-box;
}
.flex-item-center{
    align-self: center;
}
.head{
    font-weight: 400;
    font-size: 36px;
    line-height:  0.7em;;
    
}
.flex-list-row li {
  box-sizing: border-box;
  width: 25%;
  padding: 0 30px;
}
.flex-list-col {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  
  .flex-list-col li {
    display: flex;
    margin-bottom: 30px;
  }
  
  .flex-list-col img {
    width: 40px;
    margin-right: 15px;
  }
  
/*.container-tools ul li  {
   
    display: inline-block;
    justify-content:space-around;
    list-style-type:none;
    
}*/


.left {
    width: 50%;
    max-width: 100%;   
}

.right {
    width: 50%;
    max-width: 100%;
}
.product {
    display: flex;
}

.inline {
    display: inline-block;
}

footer div{
    display: flex;
   
}
.ftr {
    color: #544837;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins'; 
}
footer .logo {
    justify-content: flex-start;
}
footer ul {
    justify-content: center;
}
form {
    margin-left: auto;
}
